<?xml version="1.0" encoding="utf-8"?>
<settings>
	<AutoLayout value="0"/>
	<RenderWidth value="800"/>
	<RenderHeight value="600"/>
	<RenderX value="0"/>
	<RenderY value="0"/>
	<FboWidth value="800"/>
	<FboHeight value="600"/>
	<OSCReceiverPort value="5006"/>
	<OSCDestinationPort value="7001"/>
	<OSCDestinationHost value="127.0.0.1"/>
	<MIDIOpenAllInputPorts value="1"/>
	<ShowUI value="0"/>
	<CursorVisible value="1"/>
	<IsOSCSender value="0"/>
</settings>

