<?xml version="1.0" encoding="utf-8"?>
<settings>
	<AutoLayout value="0"/>
	<RenderWidth value="1024"/>
	<RenderHeight value="768"/>
	<RenderX value="0"/>
	<RenderY value="0"/>
	<FboWidth value="1024"/>
	<FboHeight value="768"/>
	<OSCReceiverPort value="9001"/>
	<OSCDestinationPort value="7001"/>
	<OSCDestinationHost value="127.0.0.1"/>
	<MIDIOpenAllInputPorts value="1"/>
	<ShowUI value="1"/>
	<CursorVisible value="1"/>
	<IsOSCSender value="0"/>
</settings>

